:root{
    /* Colores Base */
    --color-text: rgb(223, 171, 0);
    --color-fondo: rgb(35, 35, 35);
    --color-borde: rgb(41, 38, 38);
    --color-shadow: rgb(5, 5, 5);
    --color-hover: rgba(20, 20, 20, 0.100);
    /* Colores NEGROS */
    --color-black-10: rgb(10, 10, 10);
    --color-black-20: rgb(20, 20, 20);
    --color-black-30: rgb(30, 30, 30);
    /* Colores RGB */
    --color-red: rgb(155, 0, 0);
    --color-green: rgb(0, 155, 0);
    --color-blue: rgb(0, 0, 155);
    /* Colores Favoritos */
    --color-gray: rgb(50, 50, 50);
    --color-cyan: rgb(15, 129, 72);
    --color-purple: rgb(178, 2, 184);
    /* Colores Naturales   */
    --color-sea: rgb(0, 247, 255);
    --color-limon: rgb(0, 255, 21);
    --color-violet: rgb(174, 0, 255);
    --color-silver: rgb(180, 180, 180);
    /* Colores Efectos */
    --color-tras: rgba(10, 10, 10, 0.5);
    --color-hover1: rgba(50, 50, 50, 0.100);
    --color-hover2: rgba(70, 70, 70, 0.200);
    --color-hover3: rgba(100, 100, 100, 0.200);
    

}
html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:var(--color-text);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid var(--color-borde);  /* creates padding around scroll thumb */
  }
.body{
    color: var(--color-silver);
    background-color:var(--color-fondo);
    align-items: center;
}
header{
    align-items: center;
    margin-bottom: 5%;
}
.footer{
    color: var(--color-silver);
    text-shadow: 1px 2px 3px black;
    border-radius: 25px;
    background-color: var(--color-black-30);
    border: 2px solid var(--color-borde);
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    margin: 0;
    padding: 15%;
    text-align: center;
}

.header{
    text-align: center;
    color: var(--color-text);
    text-shadow: 0 0 8px black;
    background-color: var(--color-black-30);
    border: 2px solid var(--color-borde);
    border-radius: 25px;
    box-shadow: inset 0 0 5px var(--color-shadow);
    font-size: 2rem;
    margin: 2% 0;
}
.contenedor{
    margin: 2%;
    padding: 2%;
    background-color: var(--color-black-30);
    border: 2px solid var(--color-borde);
    border-radius: 25px;
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-items: center;
    text-align: center;
}
.contenedor:hover{
    background-color: var(--color-hover1);
    border: 2px solid var(--color-borde);
}

#text2 {
    color: var(--color-silver);
    text-shadow: 0 0 7px var(--color-shadow);
}
    



